@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap');

:root {
  --pri-clr: #880062;
  --pri-clr-dark: #6a014d;
  --pri-clr-light: #cc0093;
  --shadow-clr: #5c0243;
  --white-clr: #fff;
  --box-shadow: 7.5px 7.5px 0px var(--shadow-clr);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
}

nav {
  background-color: var(--pri-clr);
  box-shadow: var(--box-shadow);
  padding: 1rem 0;
  position: relative;
  width: 100%;
}

.nav {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;

  position: relative;
}

input {
  background-color: transparent;
  border: none;
  flex: 1;
  border-bottom: 3px solid var(--white-clr);
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.25rem;
}

input:focus-visible {
  outline: none;
}

input[type='text']::placeholder {
  text-align: right; /* for Chrome, Firefox, Opera */
}
:-ms-input-placeholder {
  text-align: right; /* for IE 10-11 */
}
::-webkit-input-placeholder {
  text-align: right; /* for IE Edge */
}

.search-icon {
  max-width: 2rem;
}

.nav-links {
  position: relative;
}

.links {
  width: 97%;
  background-color: var(--shadow-clr);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 67px;
  right: 0;

  border-left: 2px solid var(--pri-clr-light);
  transition: height 0.4s ease-in-out, padding 0.4s ease-in-out;
}

.show-links {
  height: 540px;
  padding: 2rem 0;
}

.menu-icon {
  padding: 1rem;
  background-color: var(--pri-clr-dark);

  display: block;

  box-shadow: var(--box-shadow);
  display: none;
}

.menu-icon-top {
  position: absolute;
  bottom: -68px;
  right: 0px;
}
.menu-icon-bottom {
  position: absolute;
  right: 0px;
  bottom: -20px;
}

.show-btn {
  display: block;
}

.link {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-clr);
  font-weight: 600;
  font-size: 0.875rem;
  text-decoration: none;
}

.link-img {
  max-width: 2rem;
}

/* main */
.main-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/film-terminology.jpeg');

  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  gap: 15vh;
}

.btn {
  padding: 1.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--pri-clr);
  border-radius: 1.25rem;
  text-decoration: none;
  color: var(--white-clr);
  box-shadow: var(--box-shadow);
  text-align: center;
}
